@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&family=Sunflower:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* font size */
    --s: 14px;
    --m: 16px;
    --l: 25px;
    --xl: 35px;

    /* color */
    --white: white;
    --white2: rgba(255, 255, 255, 0.95);
    --grey: rgba(255, 255, 255, 0.10);
    --black: black;
    --black2: #040404;
    --black3: #242424;
}

/* font family */
.sunflower {
    font-family: "sunflower";
}

.space-grotesk {
    font-family: "space grotesk", sans-serif;
}

/* font style */
.f-style-normal {
    font-style: normal;
}

/* font size */
.small {
    font-size: var(--s) !important;
}

.medium {
    font-size: var(--m);
}

.large {
    font-size: var(--l);
}

.extra-large {
    font-size: var(--xl);
}

/* line height */
.l-h-normal {
    line-height: normal;
}

.l-h-108 {
    line-height: 108.687%;
}

.l-h-121 {
    line-height: 121.5%;
}

.l-h-150 {
    line-height: 150%;
}

.l-h-180 {
    line-height: 180%;
}

/* opacity */
.op-70 {
    opacity: 0.7;
}

/* color */

.white2 {
    color: var(--white2);
}

.grey {
    color: var(--grey);
}

.black2 {
    color: var(--black2);
}

.black3 {
    color: var(--black3);
}

body {
    background-image: url(/assets/images/bodybg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header nav .view ul li {
    color: var(--white);
    font-family: "sunflower", sans-serif;
    font-size: var(--s);
    font-style: normal;
    line-height: normal;
}

.gap-40 {
    gap: 40px;
}

a {
    color: unset !important;
}

.view ul li:hover {
    font-weight: 700 !important;
}

/* navbar */
.icon {
    min-width: 30px;
    min-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    top: 4%;
    right: 8%;
    z-index: 11;
}

.icon span {
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background-color: white;
}

.view {
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    transition: all 500ms linear;
    text-align: center;
    gap: 40px;

}

.right-0 {
    right: 0;
}

header nav .view ul {
    flex-direction: column;
}

.nav-btn {
    padding: 8px 20px;
    border-radius: 82px;
    background: var(--white);
    border: none;
}

/* section1 */
.close-icon1 {
    transform: rotate(45deg);
}

.close-icon2 {
    transform: rotate(135deg);
    top: -10px;
}

.close-icon3 {
    display: none;
}

.s1-flex-d {
    flex-direction: column-reverse;
}

.s1-col12 {
    width: 100%;
}

.s1-sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.row-gap-32 {
    row-gap: 32px;
}

.height-100 {
    height: 100%;
}

.hero-section {
    height: 1000px;
    position: relative;
    top: -50px;
}

.sec2 {
    bottom: -20%;
    right: 29%;
    max-width: 398px;
    min-height: 446.47px;
}

.circle1 {
    min-width: 100px;
    min-height: 100px;
    top: -31px;
    left: 127px;
}

.box1 {
    min-width: 197px;
    min-height: 270px;
}

.w-90 {
    width: 90%;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.down-arrow {
    bottom: 6%;
    right: 46%;
}

.s1-height {
    height: 46%;
}

.btn2-px24 {
    padding-left: 24px;
    padding-right: 24px;
}

.hero-section {
    background-image: url(/assets/images/herosectionbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mb-13 {
    margin-bottom: 13px;
}

.mb-40 {
    margin-bottom: 40px;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.border-radius-82 {
    border-radius: 82px;
}

.background-none {
    background: none;
}

.hero-sec-btn1 {
    border: 1px solid transparent;
    background-color: var(--white);
    color: var(--black2);

}

.hero-sec-btn2 {
    border: 1px solid var(--white);
}

.hero-sec-btn2:hover {
    background-color: var(--white);
    color: var(--black2) !important;
    font-weight: 700 !important;
    border: transparent;
}

.gap-32 {
    gap: 32px;
}

.top-line {
    top: -58%;
    right: -11%;
    transform: rotate(18.516deg);
}

.bottom-line {
    bottom: -50%;
    right: 5%;
    transform: rotate(18.516deg);
}

.box1 {
    padding: 16px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px -1px 20px 0px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(15px);
}

.circle1 {
    background: linear-gradient(197deg, rgba(255, 255, 255, 0.95) 14.48%, #242424 88.11%);
    filter: drop-shadow(0px 4px 16px rgba(255, 255, 255, 0.10));
    border-radius: 50%;
    z-index: 2;
}

.border-radius-12 {
    border-radius: 12px;
}

.rotation-4 {
    transform: rotate(-4.045deg);
}

.rotation-8 {
    transform: rotate(-8.08deg);
}

.candle {
    z-index: 3;
}

.momo {
    z-index: 2;
    top: 9px;
    left: -25px;
}

.panda {
    top: 15px;
    left: -52px;
}

.w-570 {
    max-width: 570px;
}

/* section2 */
.w-76 {
    width: 76%;
}

.ellipse2 {
    bottom: -4%;
    right: 0;
}

.s2-col-12 {
    width: 100%;
}

.s2lines {
    top: -44%;
    right: 12%;
}

.box2 {
    width: 100%;
    display: flex;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px -1px 20px 0px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(15px);
}

.s2button {
    padding: 12px 32px;
    border-radius: 82px;
    border: 1px solid var(--White, #FFF);
    background: none;
}

.s2button:hover {
    background: var(--white);
    border: 1px solid transparent;
    color: var(--black2) !important;
    font-weight: 700 !important;
}

/* section3 */
.w-177 {
    max-width: 177px;
}

.ellipse3 {
    bottom: -25%;
    left: 0;
}

.s3circle {
    min-width: 73px;
    min-height: 74px;
    background: var(--white);
    filter: drop-shadow(0px 4px 16px rgba(255, 255, 255, 0.10));
    border-radius: 50%;
    top: -11%;
    right: -3%;
    display: none;
}

.s3lines {
    top: -53%;
    right: -35%;
}

.s3-margin-top {
    margin-top: 90px;
}

.s3-h2-margin-bottom {
    margin-bottom: 38px;
}

.box3-1 {
    width: 100%;
}

.box3-2 {
    padding: 20px;
    border-radius: 12px;
    border: 1px solid transparent;
}

.mt-20 {
    margin-top: 20px;
}

.px-18 {
    padding-right: 18px !important;
    padding-left: 18px !important;
}

.box3-1:hover .box3-2 {
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
}

.box3-1:hover .s3circle {
    display: unset;
}

.min-w-224 {
    min-width: 224px;
}

/* section 4 */
.s4lines {
    bottom: -151%;
    right: -28%;
    width: 171px;
}

.s4-col-12 {
    width: 100%;
}

.s4bg {
    min-height: 1800px;
}

.s4btn {
    padding: 12px 32px;
    border-radius: 82px;
    border: 1px solid var(--black2);
    background: white;
}

.s4btn:hover {
    background: black;
    color: white;
}

.s4bg {
    background-color: white;
}

.mb-16 {
    margin-bottom: 16px;
}

.s4-margin-top {
    margin-top: 70px;
}

.max-w-532 {
    max-width: 532px;
}

.min-w-273 {
    min-width: 273px;
}

.min-h-174 {
    min-height: 174px;
}

.s4 {
    transition: all linear 500ms;
}

.border-radius-8 {
    border-radius: 8px;
}

.tokyoten {
    width: 100%;
    min-height: 47px;
    border-radius: 0px 0px 8px 8px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px -1px 11px 0px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(4.5px);
    padding-top: 13px;
    padding-bottom: 12px;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

.s4:hover {
    z-index: 1;
}

.s4:hover .tokyoten {
    display: unset;
}

/* footer */
.f-col-12 {
    width: 100%;
}

.fline {
    max-width: 180px;
}

.ellipse4 {
    top: -12%;
    right: 0;
}

.logo-max-width {
    max-width: 156px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mt-48 {
    margin-top: 48px;
}

.footer-margin-top {
    margin-top: 39px;
}

.fline {
    top: -51%;
    right: -67%;
}

.max-w-570 {
    max-width: 570px;
}

.footerimage {
    width: 100%;
    min-width: 300px;
    min-height: 223px;
    border-radius: 8px;
    border: 1px solid #3F3F41;
    box-shadow: 0px 4px 15px 0px rgba(255, 255, 255, 0.10);
}

.footerimage:hover {

    border: 1px solid transparent;
}

.h-line {
    border: 2px solid #FFF;
    min-height: 1px;
    width: 100%;
}

.ellipse1 {
    min-width: 184px;
    min-height: 184px;
    border-radius: 50%;
    background: #FFF;
    filter: blur(124px);
    top: -6%;
    left: -5%;
}

.ellipse2 {
    min-width: 182px;
    min-height: 182px;
    border-radius: 50%;
    background: #FFF;
    filter: blur(124px);
}

.ellipse3 {
    min-width: 209px;
    min-height: 209px;
    border-radius: 50%;
    background: #FFF;
    filter: blur(124px);
}

.ellipse4 {
    min-width: 226px;
    min-height: 226px;
    border-radius: 50%;
    background: #FFF;
    filter: blur(124px);
}

/* Media Screens */

@media (min-width: 350px) {

    /* section 1 */
    .down-arrow {
        bottom: 9%;
        right: 48%;
    }

    .circle1 {
        min-width: 120px;
        min-height: 120px;
        top: -45px;
        left: 140px;
    }

    .box1 {
        min-width: 220px;
        min-height: 270px;
    }
}

@media (min-width: 576px) {

    /* section 1 */
    .circle1 {
        min-width: 147px;
        min-height: 147px;
        top: -52px;
        left: 184px;
    }

    .box1 {
        min-width: 297px;
        min-height: 370px;
    }

    .px-24 {
        padding-left: 24px;
        padding-right: 24px;
    }

    .px-32 {
        padding-left: 32px;
        padding-right: 32px;
    }

    .h-58 {
        height: unset;
    }

    .s1-height {
        height: 38%;
    }

    .sec2 {
        bottom: -20%;
        right: 21%;
        max-width: 398px;
        min-height: 446.47px;
    }

    /* section 3 */
    .s3circle {
        top: -11%;
        right: -6%;
    }

    /* section 4 */
    .s4:hover {
        transform: scale(1.09);
    }
}

@media (min-width: 768px) {

    /* navbar */
    .icon {
        display: none;
    }

    .view {
        justify-content: space-between;
        width: 70%;
        background-color: unset;
        flex-direction: row;
        height: unset;
        position: unset;
        transition: unset;
        gap: unset;
    }

    .right-0 {
        right: unset;
    }

    header nav .view ul {
        flex-direction: row;
    }

    /* section2 */

    .s2-col-6 {
        width: 46%;
    }

    .ellipse2 {
        bottom: -25%;
        right: 0;
    }

    /* section3 */

    .s3-margin-top {
        margin-top: 136px;
    }

    .s3-h2-margin-bottom {
        margin-bottom: 77px;
    }

    .ellipse3 {
        bottom: -59%;
        left: 0;
    }

    /* section 4 */

    .s4-margin-top {
        margin-top: 140px;
    }

    .s4-col-6 {
        width: 48%;
    }

    .s4bg {
        min-height: 1400px;
    }

    .s4btn {
        background: none;
    }

    .s4bg {
        background-image: url(/assets/images/s4bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: transparent;
    }

    .pt-94 {
        padding-top: 94px;
    }

    .mb-53 {
        margin-bottom: 53px !important;
    }

    .mb-56 {
        margin-bottom: 56px;
    }

    /* footer */

    .footer-margin-top {
        margin-top: 0;
    }

    .f-col-6 {
        width: 48%;
    }

    .ellipse4 {
        top: -20%;
        right: 0;
    }

    .logo-max-width {
        max-width: unset;
    }

    .mb-173 {
        margin-bottom: 173px;
    }

    .mt-69 {
        margin-top: 69px;
    }
}

@media (min-width: 992px) {
    :root {
        /* font size */
        --s: 16px;
        --m: 20px;
        --l: 56px;
        --xl: 64px;
    }

    .view {
        width: 64%;
    }

    /* section1 */

    .nav-btn {
        padding: 12px 32px;
    }

    .w-90 {
        width: unset;
    }

    .down-arrow {
        bottom: 11%;
    }

    .sec2 {
        bottom: -24%;
        right: 13%;
    }

    .s1-height {
        height: 48%;
    }

    .hero-section {
        height: 800px;
        min-height: 1200px;
    }

    /* section2 */
    .w-76 {
        width: unset;
    }

    /* section3 */
    .w-177 {
        max-width: unset;
    }

    .s3circle {
        top: -11%;
        right: -7%;
    }

    .s3lines {
        top: -44%;
        right: -33%;
    }

    /* section 4 */

    .s4bg {
        min-height: 1780px;
    }

    .s4lines {
        bottom: -35%;
        right: -31%;
        width: unset;
    }

    /* footer */

    .fline {
        max-width: unset;
    }

}

@media(min-width: 1200px) {

    /* section 1 */

    .hero-section {
        min-height: 795px;
        position: unset;
    }

    .s1-flex-d {
        flex-direction: row;
    }

    .down-arrow {
        bottom: 11%;
        right: 48.5%;
    }

    .h-inherit {
        height: inherit;
    }

    .s1-candyqueen-padding {
        padding: 13% 0 0 7%;
    }

    .sec2 {
        bottom: -20%;
        right: 12%;
    }


    /* section 2 */

    .mt-58 {
        margin-top: 58px;
    }

    .s2-col-3 {
        width: 23%;
    }

    /* section 3 */
    .s3-col-3 {
        width: 23%;
    }

    .s3circle {
        top: -8%;
        right: -12%;
    }

    .box3-1 {
        max-width: 264px;
        max-height: 276px;
    }

    /* section4 */
    .s4bg {
        min-height: 920px;
    }

    .s4-col-3 {
        width: 23.9%;
    }

    .s4:hover {
        transform: scale(1.25);
        transition: all linear 500ms;
    }

    /* footer */

    .footer-margin-top {
        margin-top: 78px;
    }

    .f-col-4 {
        width: 32.3%;
    }

    .container-custom {
        max-width: 1164px !important;
        margin-left: auto;
        margin-right: auto;
        padding: 0 12px;
    }

}

@media (min-width: 1300px) {

    /* section 1 */

    .s1-col6 {
        width: 50%;
    }

    .height-100 {
        height: 100%;
    }

    .s1-sec1 {
        display: unset;
        text-align: unset;
    }

    .s1-candyqueen-padding {
        padding: unset;
    }

    .sec2 {
        bottom: -34%;
        right: 4%;
    }
}

@media (min-width: 1400px) {

    /* section 1 */
    .sec2 {
        bottom: -34%;
        right: -3%;
    }
}

@media (min-width: 1440.98px) {

    /* section 1 */
    .hero-section {
        min-height: 100vh;
    }

    /* section 4 */
    .s4bg {
        background-color: white;
    }
}

@media(min-width: 1930px) {

    /* section 1 */
    .hero-section {
        min-height: unset;
    }

    /* section 4 */
    .s4bg {
        min-height: unset;
    }

}